<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar Equipamento</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<h2>Cadastrar equipamento</h2>
			<form th:action="@{/equipamento/cadastrar}" method="post" th:object="${equipamento}">
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" th:field="*{nome}" placeholder="Digite o nome do equipamento" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '"></span>
				</div>
				<div class="mb-3">
					<label for="marca" class="form-label">Marca</label>
					<input type="text" class="form-control" th:field="*{marca}" placeholder="Digite o nome da marca" th:errorclass="is-invalid">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('marca')}" th:each="erro : ${#fields.errors('marca')}" th:text="${erro} + '. '"></span>
				</div>
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
			
			<div th:if="${notificacao != null}" th:object="${notificacao}">
				<input type="hidden" id="mensagem" th:value="*{mensagem}">
				<input type="hidden" id="tipo" th:value="*{tipo}">
				<input type="hidden" id="intervalo" th:value="*{intervalo}">
			</div>
		</main>
	</div>
</body>
</html>