<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Todos Equipamentos</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Código</th>
						<div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'nome', 'Nome', 'w-25')}"></div>
						<div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'marca', 'Marca', 'w-25')}"></div>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${pagina.conteudo}">
						<td th:text="${e.codigo}"></td>
						<td th:text="${e.nome}"></td>
						<td th:text="${e.marca}"></td>
						<td>
							<form th:action="@{/equipamento/abriralterar}" method="post">
								<input type="hidden" name="codigo" th:value="${e.codigo}">
								<input type="hidden" name="nome" th:value="${e.nome}">
								<input type="hidden" name="marca" th:value="${e.marca}">
								<button style="background-color: orange;" type="submit" title="Editar" class="btn btn-secondary">
									<span>ALTERAR</span>
									<i class="bi bi-pencil-fill"></i>
								</button>
							</form>
						</td>
						<td>
							<form th:action="@{/equipamento/remover}" method="post">
								<input type="hidden" th:value="'Você tem certeza que quer remover o equipamento ' + ${e.nome} + ' - ' + ${e.marca}+'?'" class="mensagem">
								<input type="hidden" name="codigo" th:value="${e.codigo}">
								<input type="hidden" name="nome" th:value="${e.nome}">
								<input type="hidden" name="marca" th:value="${e.marca}">
								<button style="background-color: red;" type="submit" title="Remover" class="btn btn-secondary confirmacao">
									<span>REMOVER</span>
									<i class="bi bi-trash-fill"> </i>
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

			<div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>
		</main>
	</div>
</body>
</html>